.container {
  display: flex;
  flex-direction: row;
}

.container video, .container canvas {
  width: 100%;
  height: auto;
}

.container > * {
  flex-grow: 1;
  margin-right: 10px;
}

.container > *:last-child {
  margin-right: 0;
}
