* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.container video, .container canvas {
  width: 100%;
  height: auto;
}

.container > * {
  flex-grow: 1;
  margin-right: 10px;
  width: 50%;
}

.container > *:last-child {
  margin-right: 0;
}

.videoTitleOriginal {
  text-align: center;
  padding-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #27ae60;
}

.videoTitleNew {
  text-align: center;
  padding-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #f39c12;
}



.navbar {
  color: white;
  background-color: #333138;
  padding: 9px;
}

.navbar__title {
  font-weight: 100;
  font-size: 2em;
  text-align: center;
}

#fileUpload {
  padding: 20px;
}

.text {
  padding-left: 10px;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.icon {
  font-size: 2em;
  color: #333138;
}

.preview__buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.preview__buttons > div {
  margin-right: 10px;
}

.preview__buttons > div:last-child {
  margin-right: 0;
}
